<section class="about">
  <header class="page-header">
    <h1>About us<h2>
  </header>
  <div class="well">
    <h4>Jungle is providing innovative solutions for your gift-giving needs!</h4>
    <p>
      Did you get a crypto-bro for your in-office secret santa gift exchange? Perhaps you're agonizing over what to get for your "libertarian futurist" brother-in-law's birthday? Well look no further, because Jungle has you covered! Any product that could never be stocked in a regular store for normal people is readily available here at Jungle!
    </p>
    <br>
    <h4>Money to burn? We've got your furnace right here!</h4>
    <p>
      Jungle exclusively stocks the most unusual and confusing products that could only be desired by those with significant disposable income and an absence of controlled consumption habits. Not only that, the nature of our inventory effectively guarantees that all listed products will be significantly more expensive than their more reasonable counterparts, on the rare occasions where such a thing exists.
    </p>
    <br>
    <h4>The Industrial Revolution and its consequences!</h4>
    <p>
      Deep inside of all of us, there is a growing void which in a previous life may have contained a sense of personal fulfillment gained through providing what is actually necessary for the healthy functioning of the communities to which we belong. Thanks to Jungle, you can now attempt to fill that void with <strong>STUFF</strong>! Keep the darkness at bay with the freedom to purchase the contents of future landfills from the comfort of your home!
    </p>
  <div>
</section>